body, input, button, details, textarea {
  font-family: sans-serif;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px;
}

body { border: 0 }
small { font-size: 80% }
a { color: lightblue; text-decoration: underline; cursor: pointer }
h1 { margin-top: 0.4em }
textarea { background: #222; font-family: monospace }
details { padding: 0.5em; width: 35em }

button:hover { background: #333 }
button:active { background: #444 }
